Как работать с удаленным репозиторием
Site github
Проект домашнего задания
Попросить из группы чтобы кто-нибудь форкнул в репозитории
Создать конфликт
команда pull отправить изменения на локальный репозиторий

